@use "styles/variables" as *;

.containerGeral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tituloRequisitos {
    color: $corPrimaria;
    font-family: $fontDestaque;
    font-size: 1.5rem;
    font-weight: 700;
    width: 70%;

}

.tituloFuncionalidade {
    color: $corSecundaria;
    font-family: $fontDestaque;
    font-size: 1.5rem;
    font-weight: 700;
}

.divTituloFuncionalidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divTituloRequisitos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.card {
    width: 15rem;
    height: 12rem;
    border: 0.12rem solid $corSecundaria;
    border-radius: 2.05rem;
    margin-top: 1rem;
    font-family: $fontPrimaria;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1rem;
    border-top-left-radius: 2.24rem;
    border-top-right-radius: 2.24rem;

}

.tituloCard {
    color: $branco100;
    font-weight: 700;
    background-color: $corSecundaria;
    width: 100%;
    height: 3.86rem;
    padding: 0.41rem 0.1rem 0 0;
    gap: 0.41rem;
    border-radius: 2.05rem 2.05rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textoCard {
    font-weight: 500;
    color: $corTexto;
    margin: 1rem 1rem 0 1rem;
}

.cardRequisitos {
    border: 0.12rem solid $corPrimaria;
}

.cardRequisitos .tituloCard {
    background-color: $corPrimaria;
}

.tituloRequisitos {
    color: $corPrimaria;
}

.imagemFuncionalidade {
    width: 5.69rem;
    height: 5.45rem;
    position: relative;
    top: 2.5rem;
    left: 5rem;
}

.imagemRequisitos {
    width: 17.81rem;
    height: 6.1rem;
    margin-top: 2rem;

}

.imagemDesktopRequisitos {
    display: none;
}

.cardConteudoRequisitos {
    border: 2px solid #F0F0F0;
    border-radius: 32px;
    padding: 19px 13px;
}
.cardConteudoFuncionalidade {
    border: 2px solid #F0F0F0;
    border-radius: 32px;
    padding: 19px 13px;
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .wrapper {
        display: flex;
        justify-content: center;


    }

    .containerGeral {
        width: 55rem;
      
    }

    .cardConteudoRequisitos {
        display: flex;
        gap: 1.4rem;
        border-radius: 22px;
        padding: 32px 53px 32px 32px;
    }

    .cardRequisitos {
        width: 12rem;
        height: 13rem;

    }

    .cardRequisitos .tituloCard {
        width: 12rem;
        height: 4.1rem;
    }

    .imagemRequisitos {
        display: none;
    }

    .imagemDesktopRequisitos {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .tracado {
        width: 27rem;
        height: 1.1rem;
    }

    .divTituloRequisitos {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        width: 100%;

    }

    .divTituloFuncionalidade {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        align-items: end;
    }

    .tituloFuncionalidade {
        font-size: 2.2rem;
        margin-bottom: 1.3rem;

    }

    .imagemFuncionalidade {
        width: 12.5rem;
        height: 12rem;

    }

    .cardConteudoFuncionalidade {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //gap: 1rem;
        padding: 22px 15px 40px 15px;

        .card {
            width: 17rem;
            height: 13rem;
            line-height: 1rem;
            font-size: 0.875rem;
        }

        .card:nth-child(4),
        .card:nth-child(5) {
            width: 26rem;
            height: 13rem;

        }

    }

}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
    .wrapper {
        display: flex;
        justify-content: center;


    }

    .containerGeral {
        width: 80rem;


    }

    .cardConteudoRequisitos {
        display: flex;
        gap: 2rem;
        border: 2px solid #F0F0F0;
        border-radius: 30px;
        padding: 40px 43px 60px 43px;

    }

    .cardRequisitos {
        width: 17rem;
        height: 20rem;
        font-size: 1.25rem;
        line-height: 1.5rem;

    }

    .cardRequisitos .tituloCard {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.5rem;


    }

    .cardRequisitos .textoCard {
        padding-top: 1.8rem;
    }

    .imagemRequisitos {
        display: none;
    }

    .imagemDesktopRequisitos {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .tracado {
        width: 37rem;
        height: 1.6rem;
    }

    .divTituloRequisitos {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        width: 100%;


    }

    .tituloRequisitos {
        font-size: 3rem;
        line-height: 5rem;

    }

    .divTituloFuncionalidade {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        align-items: end;

    }

    .tituloFuncionalidade {
        font-size: 3rem;
        line-height: 5rem;
        margin-bottom: 1.8rem;

    }

    .imagemFuncionalidade {
        width: 18rem;
        height: 17rem;

    }

    .cardConteudoFuncionalidade {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        //gap: 1.6rem;
        border-radius: 30px;
        padding: 30px 40px 60px 40px;

        .card {
            width: 24rem;
            height: 19rem;
            line-height: 1.5rem;
            font-size: 1.25rem;

        }

        .card .textoCard {
            margin-top: 1.4rem;

        }

        .card:nth-child(4),
        .card:nth-child(5) {
            width: 36rem;
            height: 18rem;

        }

        .card:nth-child(4) .textoCard,
        .card:nth-child(5) .textoCard {
            margin-top: 2.8rem;
        }

    }
}