@use "styles/variables" as *;

.containerIntroduction {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0px 320px 0px 320px;

}

.container1 {
    display: flex;
    flex-direction: column;
}

.containerTexto {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.container2 h1 {
    font-family: $fontDestaque;
    font-size: 48px;
    font-weight: 700;
    color: $corPrimaria;
    width: 505px;
    height: 59px;
    position: relative;
    top: 130px;
    right: 450px;

}

.container1 p {
    width: 505px;
    height: 66px;
    position: relative;
    top: 190px;
    left: 61px;
    font-family: $fontPrimaria;
    font-size: 18px;

}

.container1 span {
    font-weight: 700;
}

.container2 img {
    width: 739px;
    height: 444px;
    position: relative;
    left: 65px;

}

.btSaibaMais {
    width: 335px;
    height: 50px;
    position: relative;
    top: 170px;
    left: 61px;
    padding: 10px;
    gap: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: $corTerciaria;
    margin-bottom: 276px;
    transition: transform 0.1s ease, background-color 0.1s ease;

    &:hover {
        background-color: $corPrimaria;
        transform: scale(1.05);
    }
}

.labelSaibaMais {
    font-family: $fontDestaque;
    font-size: 20px;
    font-weight: 700;
    width: 97px;
    height: 32px;
    color: $branco100;


}

@media screen and (min-width: 360px) and (max-width: 425px) {
    .containerIntroduction {
        flex-direction: column-reverse;
        //margin: 0px 0 28px 0;
        align-items: center;
    }


    .container2 h1 {
        width: 267px;
        height: 33px;
        font-size: 26px;
        line-height: 41.44px;
        text-align: center;
        //padding: 18px 48px 5.8px 45px;
        position: relative;
        top: 18px;
        left: 20px;
        z-index: 1;
    }

    .container1 p {
        width: 287px;
        height: 60px;
        position: relative;
        top: 43px;
        left: 5px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }

    .container2 img {
        width: 277.94px;
        height: 166.72px;
        position: relative;
        top: 35px;
        left: 10px;
    }

    .btSaibaMais {
        width: 160px;
        height: 40px;
        //margin: 18px 102px 28px 98px;
        position: relative;
        top: 45px;
    }

    .labelSaibaMais {
        font-size: 16px;
        width: 78px;
        line-height: 25.5px;
        margin: 7px 0 7px 0;
    }
}